@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@font-face {
  font-family: "Impact Normal";
  src: url("assets/fonts/IMPACT.TTF") format("ttf");
}
* {
  color: gray;
}
*:not(.float-bull) {
  z-index: 1;
}
a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

ul {
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #fff;
  overflow: hidden;

  .container {
    // background-image: radial-gradient(#3e1b91 15%, #291262 60%);
    // background: url("assets/img/bkg.jpg");
    // // background-color:#000000;
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    // height: 100vh;
    background-color: white;
    .content {
      height: 100vh;
      display: flex;
      flex-direction: column;
      z-index: 2;
      // background-color: #302f2f;
      @media screen and (min-width: 768px) {
        background-color: white;
      }
      &:not(.form) {
        align-content: space-between;
        justify-content: space-between;
      }

      .bkg-dark {
        width: 100vw;
        height: 58vh;
        background-color: #1a1919;
        position: absolute;
        right: 0;
      }

      @media screen and (min-width: 768px) {
        .bkg-dark {
          width: 58vw;
          height: 100vh;
          background-color: #1a1919;
          position: absolute;
          right: 0;
        }
      }

      .title-links,
      .links,
      .footer,
      .menu-btns {
        z-index: 1;
      }
      .menu-btns {
        display: none;
        @media screen and (min-width: 768px) {
          height: 240px;
          width: 400px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: absolute;
          top: 28vh;
          margin-left: 2em;
        }
        li {
          box-shadow: 2px 4px 9px -5px black;
          width: 30px;
          height: 30px;
          border-radius: 15px;
          margin-top: 1em;
          display: flex;
          align-items: center;
          transition: all 1s ease-out;
          &:hover,
          &focus {
            cursor: pointer;
            background-color: #000;
          }
          .btn-menu {
            display: none;
            margin-left: 3em;
            font-style: bold;
            color: #7f7d7d;
            font-weight: bold;
            transition: all 1s ease-out;
          }
          &:hover .btn-menu {
            display: block !important;
          }
        }
      }

      //HOME
      .title-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 85%;
        .title {
          text-align: center;

          @media screen and (min-width: 768px) {
            text-align: left;
            margin-left: auto;
            margin-top: 9em;
            width: 58vw;
          }
          .black-word {
            color: #fff;
            @media screen and (min-width: 768px) {
              color: black;
            }
          }
          .space-name {
            color: #fff;
            @media screen and (min-width: 768px) {
              margin-left: 20px;
            }
          }
          h1,
          h2 {
            font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
            /* box-shadow: inset 10px 10px 5px 0px rgba(0,0,0,0.31); */
            // background-color: #000;
            // text-shadow: 1px 1px 1px rgb(255, 255, 255);
            -webkit-background-clip: text;
            @media screen and (min-width: 768px) {
              margin-left: -166px !important;
            }
          }
          h1 {
            color: #fff;
            font-size: 16vw;
            margin: 0px 0px 0.2em 0px;
            letter-spacing: 0.5rem;
            @media screen and (min-width: 768px) {
              font-size: 8em;
              letter-spacing: 1rem;
              height: 274px;
            }
          }

          h2 {
            color: #9b9797;
            font-size: 6vw;
            letter-spacing: 0.27rem;
            font-weight: lighter;
            @media screen and (min-width: 768px) {
              color: white;
              font-size: 2em;
              padding-left: 6.5em;
            }
          }
        }
      }
      .links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        @media screen and (min-width: 768px) {
          justify-content: left;
          width: 56vw;
          margin-left: auto;
          text-align: left;
          color: #fff;
        }
        li {
          &:not(:last-child) {
            margin-right: 35px;
          }
          a {
            color: #1a1919;
            font-size: 14px;
            text-transform: uppercase;
            position: relative;
            cursor: pointer;
            @media screen and (min-width: 768px) {
              color: #fff;
            }
            &:after {
              background: none repeat scroll 0 0 transparent;
              bottom: 0;
              content: "";
              display: block;
              height: 3px;
              left: 50%;
              position: absolute;
              background: #1a1919;
              @media screen and (min-width: 768px) {
                background: #fff;
              }
              transition: width 0.3s ease 0s, left 0.3s ease 0s;
              width: 0;
            }

            &:hover:after {
              width: 100%;
              left: 0;
            }
          }
        }
        input {
          position: absolute;
          opacity: 0;
          cursor: context-menu;
          width: 2px;
        }
      }
      .footer {
        padding: 0 0 0.5em 0.5em;
        a {
          font-size: 10px;
          font-weight: lighter;
          margin-bottom: 0.5em;
          color: #5e5c5c;
        }
      }

      .float-bull {
        position: absolute;
        overflow: hidden;
        height: 100%;
        width: 100%;
        .bull-1,
        .bull-2,
        .bull-3 {
          border-radius: 50%;
        }

        .bull-1 {
          width: 17em;
          height: 17em;
          margin-top: -130px;
          animation: float-1 2s ease-in-out infinite;
          @media screen and (min-width: 768px) {
            width: 20em;
            height: 20em;
          }
        }

        .bull-2 {
          width: 30em;
          height: 30em;
          top: 51vh;
          position: absolute;
          animation: float-2 3s ease-in-out infinite;
          left: -98px;
          @media screen and (min-width: 768px) {
            width: 40em;
            height: 40em;
          }
        }

        .bull-3 {
          width: 20em;
          height: 20em;
          position: absolute;
          // left: 67vw;
          left: 74vw;
          top: 8vh;
          animation: float-1 3s ease-in-out infinite;
          @media screen and (min-width: 768px) {
            width: 50em;
            height: 50em;
          }
        }
      }

      //ADMIN PART

      &.admin {
        overflow-y: scroll;
        .project-add {
          width: 70%;
          display: flex;
          flex-direction: column;
          margin-left: auto;
          margin-right: auto;
          padding: 0 1em;
          justify-content: center;
          align-items: center;
          box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.3);

          div {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
            width: 50%;

            input {
              border: none;
              margin-bottom: 1.5em;
              border-bottom: 1.5px solid black;
              font-size: 16px;
            }
            .description {
              border: 2px solid black;
              margin-bottom: 1.5em;
              height: 8em;
              width: 100%;
              overflow-y: scroll;
            }
          }
          &-infos {
          }
          &-img {
          }
        }
        h2 {
          background-color: black;
          width: 100%;
          text-align: center;
          padding: 15px;
          color: white;
          margin-top: 0;
        }
        .projects-list {
          ul {
            display: flex;
            justify-content: center;
            align-items: center;
            li {
            }
          }
        }
      }

      //PROJECTS
      &.projects {
        .bull-3 {
          animation: float-1 6s ease-in-out infinite;

          left: 100px;
        }
        .bkg-dark {
          width: 70vw;
          height: 100vh;
        }

        .list-project {
          width: 70vw;
          margin-left: auto;
          ::-webkit-scrollbar {
            width: 12px;
          }
          ::-webkit-scrollbar-track {
            display: none;
          }
          h1,
          h2 {
            font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
          }
          .thelist {
            //Track
            ::-webkit-scrollbar-track {
              -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
              -webkit-border-radius: 10px;
              border-radius: 10px;
            }

            //Handle
            ::-webkit-scrollbar-thumb {
              -webkit-border-radius: 10px;
              border-radius: 10px;
              background: rgba(255, 0, 0, 0.8);
              -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
            }
            ::-webkit-scrollbar-thumb:window-inactive {
              background: rgba(255, 0, 0, 0.4);
            }

            width: 74vw;
            padding-top: 1em;
            padding-bottom: 1em;
            overflow-y: scroll;
            height: 90vh;
            overflow-x: hidden;
            margin-left: -33px;

            li {
              width: fit-content;
              p {
                font-size: 16px;
                color: white;
              }
              .title {
                font-size: 1.5em;
                letter-spacing: 15px;
                margin-top: 3em;
                width: fit-content;
                &:hover {
                  cursor: pointer;
                }
                h1 {
                  margin-bottom: 0px;
                  text-transform: uppercase;
                  color: white;
                  transition: all 1s ease-out;
                  width: fit-content;
                  font-size: 2.5em;
                  &::first-letter {
                    color: black;
                  }

                  &:hover {
                    color: white !important;
                    margin-left: 46px;
                    cursor: pointer;
                    &:first-letter {
                      color: white;
                    }
                  }
                }
              }
              .description {
                color: white;
                margin-bottom: 1em;
                padding-left: 46px;
                white-space: nowrap;
                width: 90%;
                overflow: hidden;
                text-overflow: ellipsis;
              }

              .popup {
                // position: absolute;
                // top: 0;
                // bottom: 0;
                // left: 0;
                // right: 0;
                // visibility: hidden;
                // box-shadow: 0 0 1px 100vw rgba(0, 0, 0, 0.7);
                // margin: 3% auto;
                // padding: 1%;
                // background-color: black;
                // border-radius: 5px;
                // width: 100%;
                // display: flex;
                // flex-direction: column;
                // opacity: 1;
                // transition: 500ms;
                // align-items: center;
                // &:target {
                //   opacity: 1;
                //  visibility: visible;
                // }

                // display: none;
                background-color: black;
                position: fixed;
                height: 100vh;
                width: 100vw;
                left: 0;
                top: 0;
                overflow-y: scroll;
                display: none;
                flex-direction: column;
                align-items: center;

                // //animation slide-top  w: http://animista.net, t: @cssanimista*/
                // -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
                // animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
                // @-webkit-keyframes slide-top {
                //   0% {
                //     -webkit-transform: translateY(0);
                //     transform: translateY(0);
                //   }
                //   10% {
                //     -webkit-transform: translateY(-100px);
                //     transform: translateY(-100px);
                //   }
                // }
                // @keyframes slide-top {
                //   0% {
                //     -webkit-transform: translateY(0);
                //     transform: translateY(0);
                //   }
                //   10% {
                //     -webkit-transform: translateY(100px);
                //     transform: translateY(-200px);
                //   }
                // }
                //*fin animation*/
                .header-project {
                  padding-top: 4em;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  width: 62%;
                  position: fixed;
                  h2 {
                    font-size: 3em;
                    color: white;
                    margin: 0px;
                  }
                  p {
                    margin: 3em 0;
                    text-align: center;
                  }
                  ul {
                    height: auto;
                    margin: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    flex-wrap: wrap;
                    li {
                      display: flex;
                      align-items: center;
                      flex-direction: row;
                      flex-wrap: wrap;
                      font-size: 14px;
                      span {
                        color: #e2e1e1;
                      }
                      h4 {
                        margin: 0 10px 0 0;
                      }
                    }
                    li:not(:first-child) {
                      padding-left: 5em;
                    }
                  }
                }

                .popup-content {
                  padding: 3em;
                  background-color: white;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  width: 84%;
                  height: 100vh;
                  // overflow-y: scroll;
                  z-index: 1;
                  margin-top: 280px;
                  .list-images {
                    display: flex;
                    flex-direction: column;
                    a {
                      color: #1a1919;
                      width: fit-content;
                      &:after {
                        background: none repeat scroll 0 0 transparent;
                        bottom: 0;
                        content: "";
                        display: block;
                        height: 3px;
                        left: 50%;
                        background: #1a1919;

                        transition: width 0.3s ease 0s, left 0.3s ease 0s;
                        width: 0;
                      }

                      &:hover:after {
                        width: 100%;
                        left: 0;
                      }
                    }
                    img {
                      width: 80%;
                      margin: 0 auto;
                    }
                  }
                  .close {
                    top: 20px;
                    right: 30px;
                    transition: all 200ms;
                    font-size: 30px;
                    font-weight: bold;
                    text-decoration: none;
                    color: #fff;
                    position: fixed;
                    &:hover {
                      color: #989595;
                    }
                  }
                }
              }

              .img-hover {
                display: none;
                position: absolute;
                background-color: white;
                width: 300px;
                height: 300px;
                border-radius: 100%;
                right: 10%;
                top: 30%;
                box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.3);
                img {
                  width: 150%;
                }
              }
              @media screen and (min-width: 768px) {
                &:hover .img-hover {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  overflow: hidden;
                }
              }

              &:focus-within .popup {
                // visibility: visible;
                display: flex;
                flex-direction: column;
                align-items: center;
              }
              &:focus-within .footer {
                color: red;
              }
            }
          }
        }
      }

      // //DETAILS PROJECT

      &.about-contact {
        .float-bull {
          display: flex;
          justify-content: center;
          .bull-3 {
            left: auto;
            width: 50em;
            height: 50em;
          }
        }
        .bkg-dark {
          width: 100vw;
          height: 40vh;
          bottom: 0;
        }
        .about {
          display: flex;
          height: 71%;
          color: black;
          flex-direction: column;
          align-items: center;
          width: 80%;
          margin-left: auto;
          margin-right: auto;
          text-align: center;
          @media screen and (min-width: 768px) {
            width: 30em;
            height: 46%;
          }
          a {
            color: black;
            font-weight: bold;
          }
        }
        .links {
          justify-content: center;
          width: auto;
          margin-left: 0;
          text-align: center;
        }
      }
    }

    //SIGNUP
    .content.form {
      justify-content: center !important;
      align-items: center;
    }
  }
}

/* float bulles */

@keyframes float-1 {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.3);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(0px);
  }
}

@keyframes float-2 {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
